amqp==5.1.1
autopep8==1.7.0
billiard==3.6.4.0
celery==5.2.7
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.5
Django==2.2.11
django-audiofield==0.10.1
django-autoslug==1.9.8
django-celery==3.1.17
django-multiselectfield==0.1.12
djangorestframework==3.13.1
kombu==5.2.4
Pillow==9.2.0
prompt-toolkit==3.0.30
psycopg2==2.9.3
pycodestyle==2.9.1
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
vine==5.0.0
wcwidth==0.2.5
